<?xml version="1.0"?>
<!--
/**
 * Copyright © IURCO and PRISMA. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Prisma_PaywayPromotions" version="1.0.0">
        <sequence>
            <module name="Prisma_Payway"/>
        </sequence>
    </module>
</config>
